body{
    margin: 0;
}

.app{
    position: relative;
    display: grid;
    grid-template-columns: 450px 1fr;
}

search{
    grid-column: 1;
}

userpage{
    grid-column: 2;
}

.appTitle{
    width: 100vw;
    height: 45px;
    border: 1px solid #000;
    background-color: #6f1c1c;
    color: #fff;
}

.appTitle span{
    position: absolute;
    top: 5px;
    left: 150px;
    font-size: 1.7em;
}

.addForm{
    position: absolute;
    top: 110px;
    left: 700px;
}

.searchText{
    position: absolute;
    top: 80px;
    left: 210px;
    font-size: 1.1em;
}

.searchInput{
    position: absolute;
    top: 110px;
    left: 150px;
}

.userInput{
    margin: 0;
    width: 185px;
    height: 30px;
    border: 1px solid #000;
    border-radius: 3px;
}

.userAddBtn{
    position: absolute;
    right: -58px;
    width: 60px;
    height: 35px;
    border: 1px solid #000;
    border-radius: 3px;
    color: #fff;
    background-color: #6f1c1c;
}

.addUserLayout{
    position: relative;
    top: 140px;
    left: 250px;
    width: 270px;
    height: 400px;
    overflow-y: auto;
}

.searchLayout{
    width: 450px;
    height: 90vh;
    background-color: #f0f0f0;
}

.userCard{
    position: relative;
    display: flex;
    flex-direction: column;
    border: 1px solid #000;
    border-radius: 3px;
    width: 245px;
    height: 75px;
    margin-bottom: 20px;
}

.userName{
    position: absolute;
    top: 10px;
    left: 90px;
    font-weight: bold;
    font-size: 1em;
}

.userLocation{
    position: absolute;
    top: 30px;
    left: 90px;
}